{% extends 'base.html' %}
{% block title %}Warehouses - Inventory{% endblock %}
{% block content %}
<h1 class="mb-3">Warehouses</h1>
<a href="{{ url_for('add_warehouse') }}" class="btn btn-success mb-3">Add Warehouse</a>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {% for w in warehouses %}
    <tr>
      <td>{{ w.name }}</td>
      <td>{{ w.code }}</td>
      <td>{{ w.location }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
